server:
  port: 8080

spring:
  graphql:
    path: /graphql
    graphiql:
      enabled: true

  r2dbc:
    url: ${R2DBC_URL:}
    username: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
    pool:
      enabled: true
      initial-size: 5
      max-size: 20

  flyway:
    enabled: true
    url: ${JDBC_URL:}
    user: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
logging:
  level:
    org.springframework.graphql: INFO
    org.springframework.r2dbc: INFO
    org.springframework.web: INFO
